.header{
 display: flex;
 justify-content: center;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;

}

.ingrediet_form{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}

.ingredient_txtfeld{
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
 border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ingredient_button{

  height: 42px;
  font-size: 16px;
  padding: 5px 15px;
  color: white;
  background-color: black;
  border-radius: 5px;

}

.ingredient_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
  flex-wrap: wrap;
}
